body {
  font-family: 'Roboto', sans-serif;
  background-color: #FCF8E8;
}

#contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#userInformationDiv {
  width: 40%;
  background-color: #94B49F;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #ECB390;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quizContentDiv {
  display: none;
  width: 50%;
  font-size: 20px;
  background-color: #94B49F;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #ECB390;
  padding: 30px;
}

#quizSubmitButton {
  padding: 7px;
  margin-top: 10px;
  background-color: #FCF8E8;
  border: red solid 2px;
}

.required {
  color: red;
}

#resultsDiv {
  display: none;
}

.qDivs {
  padding: 5px;
}

h1 {
  align-items: center;

}